<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.wechat.dao.StudentsDao">

	<select id="get" resultType="com.bootdo.wechat.domain.StudentsDO">
		select `id`,`vipcardno`,`name`,`phone`,`sex`,`school`,`session`,`specialty`,`relationship`,`vipcardstate`,`remarks` from students where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.wechat.domain.StudentsDO">
		select `id`,`vipcardno`,`name`,`phone`,`sex`,`school`,`session`,`specialty`,`relationship`,`vipcardstate`,`remarks` from students
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="vipcardno != null and vipcardno != ''"> and vipcardno = #{vipcardno} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="school != null and school != ''"> and school = #{school} </if>
		  		  <if test="session != null and session != ''"> and session = #{session} </if>
		  		  <if test="specialty != null and specialty != ''"> and specialty = #{specialty} </if>
		  		  <if test="relationship != null and relationship != ''"> and relationship = #{relationship} </if>
		  		  <if test="vipcardstate != null and vipcardstate != ''"> and vipcardstate = #{vipcardstate} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from students
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="vipcardno != null and vipcardno != ''"> and vipcardno = #{vipcardno} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="school != null and school != ''"> and school = #{school} </if>
		  		  <if test="session != null and session != ''"> and session = #{session} </if>
		  		  <if test="specialty != null and specialty != ''"> and specialty = #{specialty} </if>
		  		  <if test="relationship != null and relationship != ''"> and relationship = #{relationship} </if>
		  		  <if test="vipcardstate != null and vipcardstate != ''"> and vipcardstate = #{vipcardstate} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.wechat.domain.StudentsDO" useGeneratedKeys="true" keyProperty="id">
		insert into students
		(
			`vipcardno`, 
			`name`, 
			`phone`, 
			`sex`, 
			`school`, 
			`session`, 
			`specialty`, 
			`relationship`, 
			`vipcardstate`, 
			`remarks`
		)
		values
		(
			#{vipcardno}, 
			#{name}, 
			#{phone}, 
			#{sex}, 
			#{school}, 
			#{session}, 
			#{specialty}, 
			#{relationship}, 
			#{vipcardstate}, 
			#{remarks}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.wechat.domain.StudentsDO">
		update students 
		<set>
			<if test="vipcardno != null">`vipcardno` = #{vipcardno}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="school != null">`school` = #{school}, </if>
			<if test="session != null">`session` = #{session}, </if>
			<if test="specialty != null">`specialty` = #{specialty}, </if>
			<if test="relationship != null">`relationship` = #{relationship}, </if>
			<if test="vipcardstate != null">`vipcardstate` = #{vipcardstate}, </if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from students where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from students where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>